In [204]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [205]:
url="https://www.worldometers.info/coronavirus/"

In [238]:
response=requests.get(url)
print(response)

<Response [200]>

In [239]:
#created a wrapper

soup=BeautifulSoup(response.content,"html.parser")

In [240]:
soup.title

In [241]:
divs=soup.find("div",class_="panel_flip")

In [242]:
for i in divs.find_all("div",class_="panel_front"):
    print(i.text)

1,962,235
Currently Infected Patients


1,905,265 (97%)
in Mild Condition

56,970 (3%)
Serious or Critical


Show Graph

In [212]:
coronatable=soup.find_all("table")
len(coronatable)

2

# Found the table from which data is to be considered

In [213]:
co=coronatable[0]
co

<table class="table table-bordered table-hover main_table_countries" id="main_table_countries_today" style="width:100%;margin-top: 0px !important;">
<thead>
<tr>
<th width="100">Country,<br>Other</br></th>
<th width="20">Total<br>Cases</br></th>
<th width="30">New<br>Cases</br></th>
<th width="30">Total<br>Deaths</br></th>
<th width="30">New<br>Deaths</br></th>
<th width="30">Total<br>Recovered</br></th>
<th width="30">Active<br>Cases</br></th>
<th width="30">Serious,<br/>Critical</th>
<th width="30">TotÂ Cases/<br/>1M pop</th>
<th width="30">Deaths/<br/>1M pop</th>
<th width="30">Total<br/>Tests</th>
<th width="30">Tests/<br/>
<nobr>1M pop</nobr>
</th>
<th style="display:none" width="30">Continent</th>
</tr>
</thead>
<tbody>
<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>1,065,973</td>
<td>+1,370</td>
<td>60,014</td>
<td>+59</td>
<td>147,310</td>
<td>858,649</td>
<td>16,405</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
</tr>
<tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
<td style="text-align:left;">
<nobr>Europe</nobr>
</td>
<td>1,283,815</td>
<td>+7,007</td>
<td>121,966</td>
<td>+81</td>
<td>439,537</td>
<td>722,312</td>
<td>25,258</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>
</tr>
<tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td>473,624</td>
<td>+1,357</td>
<td>17,261</td>
<td>+18</td>
<td>228,537</td>
<td>227,826</td>
<td>6,081</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
</tr>
<tr class="total_row_world row_continent" data-continent="South America" style="display: none">
<td style="text-align:left;">
<nobr>South America</nobr>
</td>
<td>138,255</td>
<td>+335</td>
<td>6,309</td>
<td>+20</td>
<td>49,664</td>
<td>82,282</td>
<td>9,700</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>
</tr>
<tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
<td style="text-align:left;">
<nobr>Oceania</nobr>
</td>
<td>8,290</td>
<td>+4</td>
<td>102</td>
<td>+1</td>
<td>6,838</td>
<td>1,350</td>
<td>46</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
</tr>
<tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
<td style="text-align:left;">
<nobr>Africa</nobr>
</td>
<td>32,674</td>
<td>+17</td>
<td>1,427</td>
<td></td>
<td>10,021</td>
<td>21,226</td>
<td>140</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>
</tr>
<tr class="total_row_world row_continent" data-continent="" style="display: none">
<td style="text-align:left;">
<nobr></nobr>
</td>
<td>721</td>
<td></td>
<td>15</td>
<td></td>
<td>645</td>
<td>61</td>
<td>4</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="" style="display:none;"></td>
</tr>
<tr class="total_row_world">
<td style="text-align:left;">World</td>
<td>3,003,352</td>
<td>+10,090</td>
<td>207,094</td>
<td>+179</td>
<td>882,552</td>
<td>1,913,706</td>
<td>57,634</td>
<td>385</td>
<td>26.6</td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">987,322</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+162</td>
<td style="font-weight: bold; text-align:right;">55,415 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+2</td>
<td style="font-weight: bold; text-align:right">118,781</td>
<td style="text-align:right;font-weight:bold;">813,126</td>
<td style="font-weight: bold; text-align:right">15,143</td>
<td style="font-weight: bold; text-align:right">2,983</td>
<td style="font-weight: bold; text-align:right">167</td>
<td style="font-weight: bold; text-align:right">5,470,555</td>
<td style="font-weight: bold; text-align:right">16,527</td>
<td data-continent="North America" style="display:none">North America</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
<td style="font-weight: bold; text-align:right">226,629</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">23,190 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">117,727</td>
<td style="text-align:right;font-weight:bold;">85,712</td>
<td style="font-weight: bold; text-align:right">7,764</td>
<td style="font-weight: bold; text-align:right">4,847</td>
<td style="font-weight: bold; text-align:right">496</td>
<td style="font-weight: bold; text-align:right">1,199,548</td>
<td style="font-weight: bold; text-align:right">25,656</td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td style="font-weight: bold; text-align:right">197,675</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">26,644 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">64,928</td>
<td style="text-align:right;font-weight:bold;">106,103</td>
<td style="font-weight: bold; text-align:right">2,009</td>
<td style="font-weight: bold; text-align:right">3,269</td>
<td style="font-weight: bold; text-align:right">441</td>
<td style="font-weight: bold; text-align:right">1,757,659</td>
<td style="font-weight: bold; text-align:right">29,071</td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td style="font-weight: bold; text-align:right">162,100</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">22,856 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">44,903</td>
<td style="text-align:right;font-weight:bold;">94,341</td>
<td style="font-weight: bold; text-align:right">4,682</td>
<td style="font-weight: bold; text-align:right">2,483</td>
<td style="font-weight: bold; text-align:right">350</td>
<td style="font-weight: bold; text-align:right">463,662</td>
<td style="font-weight: bold; text-align:right">7,103</td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td style="font-weight: bold; text-align:right">157,770</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">5,976 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">114,500</td>
<td style="text-align:right;font-weight:bold;">37,294</td>
<td style="font-weight: bold; text-align:right">2,570</td>
<td style="font-weight: bold; text-align:right">1,883</td>
<td style="font-weight: bold; text-align:right">71</td>
<td style="font-weight: bold; text-align:right">2,072,669</td>
<td style="font-weight: bold; text-align:right">24,738</td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td style="font-weight: bold; text-align:right">152,840</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">20,732 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="text-align:right;font-weight:bold;">131,764</td>
<td style="font-weight: bold; text-align:right">1,559</td>
<td style="font-weight: bold; text-align:right">2,251</td>
<td style="font-weight: bold; text-align:right">305</td>
<td style="font-weight: bold; text-align:right">669,850</td>
<td style="font-weight: bold; text-align:right">9,867</td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
<td style="font-weight: bold; text-align:right">110,130</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">2,805 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">29,140</td>
<td style="text-align:right;font-weight:bold;">78,185</td>
<td style="font-weight: bold; text-align:right">1,776</td>
<td style="font-weight: bold; text-align:right">1,306</td>
<td style="font-weight: bold; text-align:right">33</td>
<td style="font-weight: bold; text-align:right">898,742</td>
<td style="font-weight: bold; text-align:right">10,656</td>
<td data-continent="Asia" style="display:none">Asia</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/iran/">Iran</a></td>
<td style="font-weight: bold; text-align:right">90,481</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">5,710 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">69,657</td>
<td style="text-align:right;font-weight:bold;">15,114</td>
<td style="font-weight: bold; text-align:right">3,079</td>
<td style="font-weight: bold; text-align:right">1,077</td>
<td style="font-weight: bold; text-align:right">68</td>
<td style="font-weight: bold; text-align:right">421,313</td>
<td style="font-weight: bold; text-align:right">5,016</td>
<td data-continent="Asia" style="display:none">Asia</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td style="font-weight: bold; text-align:right">87,147</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+6,198</td>
<td style="font-weight: bold; text-align:right;">794 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+47</td>
<td style="font-weight: bold; text-align:right">7,346</td>
<td style="text-align:right;font-weight:bold;">79,007</td>
<td style="font-weight: bold; text-align:right">2,300</td>
<td style="font-weight: bold; text-align:right">597</td>
<td style="font-weight: bold; text-align:right">5</td>
<td style="font-weight: bold; text-align:right">3,019,434</td>
<td style="font-weight: bold; text-align:right">20,690</td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td style="font-weight: bold; text-align:right">63,100</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+241</td>
<td style="font-weight: bold; text-align:right;">4,286 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+15</td>
<td style="font-weight: bold; text-align:right">30,152</td>
<td style="text-align:right;font-weight:bold;">28,662</td>
<td style="font-weight: bold; text-align:right">8,318</td>
<td style="font-weight: bold; text-align:right">297</td>
<td style="font-weight: bold; text-align:right">20</td>
<td style="font-weight: bold; text-align:right">291,922</td>
<td style="font-weight: bold; text-align:right">1,373</td>
<td data-continent="South America" style="display:none">South America</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/canada/">Canada</a></td>
<td style="font-weight: bold; text-align:right">46,895</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">2,560 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">17,321</td>
<td style="text-align:right;font-weight:bold;">27,014</td>
<td style="font-weight: bold; text-align:right">557</td>
<td style="font-weight: bold; text-align:right">1,243</td>
<td style="font-weight: bold; text-align:right">68</td>
<td style="font-weight: bold; text-align:right">707,508</td>
<td style="font-weight: bold; text-align:right">18,746</td>
<td data-continent="North America" style="display:none">North America</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/belgium/">Belgium</a></td>
<td style="font-weight: bold; text-align:right">46,134</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">7,094 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">10,785</td>
<td style="text-align:right;font-weight:bold;">28,255</td>
<td style="font-weight: bold; text-align:right">891</td>
<td style="font-weight: bold; text-align:right">3,981</td>
<td style="font-weight: bold; text-align:right">612</td>
<td style="font-weight: bold; text-align:right">189,067</td>
<td style="font-weight: bold; text-align:right">16,313</td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/netherlands/">Netherlands</a></td>
<td style="font-weight: bold; text-align:right">37,845</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">4,475 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="text-align:right;font-weight:bold;">33,120</td>
<td style="font-weight: bold; text-align:right">934</td>
<td style="font-weight: bold; text-align:right">2,209</td>
<td style="font-weight: bold; text-align:right">261</td>
<td style="font-weight: bold; text-align:right">193,950</td>
<td style="font-weight: bold; text-align:right">11,319</td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/switzerland/">Switzerland</a></td>
<td style="font-weight: bold; text-align:right">29,061</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,610 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">21,800</td>
<td style="text-align:right;font-weight:bold;">5,651</td>
<td style="font-weight: bold; text-align:right">204</td>
<td style="font-weight: bold; text-align:right">3,358</td>
<td style="font-weight: bold; text-align:right">186</td>
<td style="font-weight: bold; text-align:right">245,300</td>
<td style="font-weight: bold; text-align:right">28,343</td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td style="font-weight: bold; text-align:right">27,977</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+87</td>
<td style="font-weight: bold; text-align:right;">884 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+3</td>
<td style="font-weight: bold; text-align:right">6,523</td>
<td style="text-align:right;font-weight:bold;">20,570</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">20</td>
<td style="font-weight: bold; text-align:right">0.6</td>
<td style="font-weight: bold; text-align:right">665,819</td>
<td style="font-weight: bold; text-align:right">482</td>
<td data-continent="Asia" style="display:none">Asia</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/peru/">Peru</a></td>
<td style="font-weight: bold; text-align:right">27,517</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">728 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">8,088</td>
<td style="text-align:right;font-weight:bold;">18,701</td>
<td style="font-weight: bold; text-align:right">554</td>
<td style="font-weight: bold; text-align:right">835</td>
<td style="font-weight: bold; text-align:right">22</td>
<td style="font-weight: bold; text-align:right">232,747</td>
<td style="font-weight: bold; text-align:right">7,059</td>
<td data-continent="South America" style="display:none">South America</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/portugal/">Portugal</a></td>
<td style="font-weight: bold; text-align:right">23,864</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">903 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">1,329</td>
<td style="text-align:right;font-weight:bold;">21,632</td>
<td style="font-weight: bold; text-align:right">182</td>
<td style="font-weight: bold; text-align:right">2,340</td>
<td style="font-weight: bold; text-align:right">89</td>
<td style="font-weight: bold; text-align:right">330,512</td>
<td style="font-weight: bold; text-align:right">32,414</td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/ecuador/">Ecuador</a></td>
<td style="font-weight: bold; text-align:right">22,719</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">576 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">1,366</td>
<td style="text-align:right;font-weight:bold;">20,777</td>
<td style="font-weight: bold; text-align:right">127</td>
<td style="font-weight: bold; text-align:right">1,288</td>
<td style="font-weight: bold; text-align:right">33</td>
<td style="font-weight: bold; text-align:right">56,513</td>
<td style="font-weight: bold; text-align:right">3,203</td>
<td data-continent="South America" style="display:none">South America</td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/ireland/">Ireland</a></td>
<td style="font-weight: bold; text-align:right">19,262</td>
<td style="font-weight: bold; text-align:right;"></td>

# Extracted data from the table

In [216]:
country=[]
total_cases=[]
new_cases=[]
total_deaths=[]
new_deaths=[]
total_recovered=[]
active_cases=[]
serious_critical=[]
total_cases_per_million=[]
total_deaths_per_million=[]
total_tests=[]
total_tests_per_million=[]

rows=co.find_all("tr")[9:220]
for row in rows:
    col=row.find_all("td")
    country.append(col[0].text.strip())
    total_cases.append(col[1].text.strip())
    new_cases.append(col[2].text.strip())
    total_deaths.append(col[3].text.strip())
    new_deaths.append(col[4].text.strip())
    total_recovered.append(col[5].text.strip())
    active_cases.append(col[6].text.strip())
    serious_critical.append(col[7].text.strip())
    total_cases_per_million.append(col[8].text.strip())
    total_deaths_per_million.append(col[9].text.strip())
    total_tests.append(col[10].text.strip())
    total_tests_per_million.append(col[11].text.strip())
    
print(new_cases)

['+162', '', '', '', '', '', '', '', '+6,198', '+241', '', '', '', '', '+87', '', '', '', '', '', '', '+23', '', '+835', '+799', '', '', '', '+144', '', '+10', '', '', '', '+392', '', '+123', '', '+198', '', '', '+4', '', '', '+241', '', '', '', '', '', '', '', '', '', '', '', '+9', '+74', '', '+83', '', '+51', '', '+18', '', '+62', '', '', '', '', '', '', '', '', '+11', '', '', '+2', '', '+48', '', '', '', '', '', '+84', '', '+6', '', '', '', '', '', '', '+13', '', '', '+34', '', '+10', '', '', '', '+27', '+10', '+17', '', '', '', '', '', '', '', '', '+45', '', '', '', '+25', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '+1', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

# Converted to a dataframe

In [217]:
df=pd.DataFrame(list(zip(country,total_cases,new_cases,total_deaths,new_deaths,
                         total_recovered,active_cases,serious_critical,
                         total_cases_per_million,total_deaths_per_million,total_tests,total_tests_per_million)), 
                columns= ["Country","Total_cases","New_cases","Total_deaths","New_deaths","Total_recovered","Active_cases","Serious_critical",
                          "Total_cases_per_million","Total_deaths_per_million","Total_tests","Total_tests_per_million"])
df

,Country,Total_cases,New_cases,Total_deaths,New_deaths,Total_recovered,Active_cases,Serious_critical,Total_cases_per_million,Total_deaths_per_million,Total_tests,Total_tests_per_million
0,USA,"987,322",+162,"55,415",+2,"118,781","813,126","15,143","2,983",167,"5,470,555","16,527"
1,Spain,"226,629",,"23,190",,"117,727","85,712","7,764","4,847",496,"1,199,548","25,656"
2,Italy,"197,675",,"26,644",,"64,928","106,103","2,009","3,269",441,"1,757,659","29,071"
3,France,"162,100",,"22,856",,"44,903","94,341","4,682","2,483",350,"463,662","7,103"
4,Germany,"157,770",,"5,976",,"114,500","37,294","2,570","1,883",71,"2,072,669","24,738"
5,UK,"152,840",,"20,732",,N/A,"131,764","1,559","2,251",305,"669,850","9,867"
6,Turkey,"110,130",,"2,805",,"29,140","78,185","1,776","1,306",33,"898,742","10,656"
7,Iran,"90,481",,"5,710",,"69,657","15,114","3,079","1,077",68,"421,313","5,016"
8,Russia,"87,147","+6,198",794,+47,"7,346","79,007","2,300",597,5,"3,019,434","20,690"
9,Brazil,"63,100",+241,"4,286",+15,"30,152","28,662","8,318",297,20,"291,922","1,373"
10,Canada,"46,895",,"2,560",,"17,321","27,014",557,"1,243",68,"707,508","18,746"
11,Belgium,"46,134",,"7,094",,"10,785","28,255",891,"3,981",612,"189,067","16,313"
12,Netherlands,"37,845",,"4,475",,N/A,"33,120",934,"2,209",261,"193,950","11,319"
13,Switzerland,"29,061",,"1,610",,"21,800","5,651",204,"3,358",186,"245,300","28,343"
14,India,"27,977",+87,884,+3,"6,523","20,570",,20,0.6,"665,819",482
15,Peru,"27,517",,728,,"8,088","18,701",554,835,22,"232,747","7,059"
16,Portugal,"23,864",,903,,"1,329","21,632",182,"2,340",89,"330,512","32,414"
17,Ecuador,"22,719",,576,,"1,366","20,777",127,"1,288",33,"56,513","3,203"
18,Ireland,"19,262",,"1,087",,"9,233","8,942",142,"3,901",220,"127,319","25,785"
19,Sweden,"18,640",,"2,194",,"1,005","15,441",399,"1,846",217,"94,500","9,357"
20,Saudi Arabia,"17,522",,139,,"2,357","15,026",115,503,4,"200,000","5,745"
21,Israel,"15,466",+23,202,+1,"6,796","8,468",129,"1,787",23,"302,691","34,971"
22,Austria,"15,225",,542,,"12,282","2,401",145,"1,690",60,"227,631","25,274"
23,Mexico,"14,677",+835,"1,351",+46,"8,354","4,972",378,114,10,"67,635",525
24,Singapore,"14,423",+799,12,,"1,060","13,351",22,"2,465",2,"121,774","20,815"
25,Japan,"13,441",,372,,"1,809","11,260",296,106,3,"149,074","1,179"
26,Chile,"13,331",,189,,"7,024","6,118",418,697,10,"155,975","8,159"
27,Pakistan,"13,328",,281,,"3,029","10,018",111,60,1,"150,756",682
28,Poland,"11,761",+144,539,+4,"2,466","8,756",160,311,14,"290,633","7,679"
29,Romania,"11,036",,628,+9,"3,054","7,354",236,574,33,"136,518","7,096"
...,...,...,...,...,...,...,...,...,...,...,...,...
181,New Caledonia,18,,,,17,1,1,63,,"3,952","13,842"
182,CuraÃ§ao,16,,1,,11,4,,98,6,304,"1,853"
183,Dominica,16,,,,13,3,,222,,383,"5,320"
184,Namibia,16,,,,8,8,,6,,704,277
185,Saint Kitts and Nevis,15,,,,2,13,,282,,260,"4,887"
186,Saint Lucia,15,,,,15,0,,82,,446,"2,429"
187,St. Vincent Grenadines,14,,,,5,9,,126,,108,973
188,Nicaragua,13,,3,,7,3,,2,0.5,,
189,Falkland Islands,13,,,,11,2,,"3,736",,353,"101,437"
190,Burundi,11,,1,,4,6,,0.9,0.08,284,24
191,Montserrat,11,,1,,2,8,1,"2,204",200,36,"7,212"
192,Turks and Caicos,11,,1,,4,6,,284,26,83,"2,144"
193,Greenland,11,,,,11,0,,194,,"1,200","21,138"
194,Seychelles,11,,,,6,5,,112,,,
195,Gambia,10,,1,,8,1,,4,0.4,401,166
196,Suriname,10,,1,,7,2,,17,2,404,689
197,MS Zaandam,9,,2,,,7,,,,,
198,Vatican City,9,,,,2,7,,"11,236",,,
199,Papua New Guinea,8,,,,,8,,0.9,,604,68
200,Mauritania,7,,1,,6,0,,2,0.2,"1,032",222
201,Bhutan,7,,,,4,3,,9,,"9,829","12,738"
202,British Virgin Islands,6,,1,,3,2,,198,33,,
203,St. Barth,6,,,,6,0,,607,,,
204,South Sudan,6,,,,,6,,0.5,,,
205,Western Sahara,6,,,,5,1,,10,,,
206,Caribbean Netherlands,5,,,,,5,,191,,110,"4,195"
207,Sao Tome and Principe,4,,,,,4,,18,,19,87
208,Anguilla,3,,,,1,2,,200,,,
209,Saint Pierre Miquelon,1,,,,,1,,173,,,
210,Yemen,1,,,,1,0,,0.03,,120,4

In [218]:
df.dtypes

Country                     object
Total_cases                 object
New_cases                   object
Total_deaths                object
New_deaths                  object
Total_recovered             object
Active_cases                object
Serious_critical            object
Total_cases_per_million     object
Total_deaths_per_million    object
Total_tests                 object
Total_tests_per_million     object
dtype: object

# Data cleaning begins from below, replace the N/A or blank values with NaN and then replacing with 0

In [232]:

df.replace(r'^\s*$',np.nan,regex=True,inplace=True)
df.replace(np.nan,0,inplace=True)
df.replace("N/A",0,inplace=True)
df

,Country,Total_cases,New_cases,Total_deaths,New_deaths,Total_recovered,Active_cases,Serious_critical,Total_cases_per_million,Total_deaths_per_million,Total_tests,Total_tests_per_million
0,USA,"987,322",+162,"55,415",+2,"118,781","813,126","15,143","2,983",167,"5,470,555","16,527"
1,Spain,"226,629",0,"23,190",0,"117,727","85,712","7,764","4,847",496,"1,199,548","25,656"
2,Italy,"197,675",0,"26,644",0,"64,928","106,103","2,009","3,269",441,"1,757,659","29,071"
3,France,"162,100",0,"22,856",0,"44,903","94,341","4,682","2,483",350,"463,662","7,103"
4,Germany,"157,770",0,"5,976",0,"114,500","37,294","2,570","1,883",71,"2,072,669","24,738"
5,UK,"152,840",0,"20,732",0,0,"131,764","1,559","2,251",305,"669,850","9,867"
6,Turkey,"110,130",0,"2,805",0,"29,140","78,185","1,776","1,306",33,"898,742","10,656"
7,Iran,"90,481",0,"5,710",0,"69,657","15,114","3,079","1,077",68,"421,313","5,016"
8,Russia,"87,147","+6,198",794,+47,"7,346","79,007","2,300",597,5,"3,019,434","20,690"
9,Brazil,"63,100",+241,"4,286",+15,"30,152","28,662","8,318",297,20,"291,922","1,373"
10,Canada,"46,895",0,"2,560",0,"17,321","27,014",557,"1,243",68,"707,508","18,746"
11,Belgium,"46,134",0,"7,094",0,"10,785","28,255",891,"3,981",612,"189,067","16,313"
12,Netherlands,"37,845",0,"4,475",0,0,"33,120",934,"2,209",261,"193,950","11,319"
13,Switzerland,"29,061",0,"1,610",0,"21,800","5,651",204,"3,358",186,"245,300","28,343"
14,India,"27,977",+87,884,+3,"6,523","20,570",0,20,0.6,"665,819",482
15,Peru,"27,517",0,728,0,"8,088","18,701",554,835,22,"232,747","7,059"
16,Portugal,"23,864",0,903,0,"1,329","21,632",182,"2,340",89,"330,512","32,414"
17,Ecuador,"22,719",0,576,0,"1,366","20,777",127,"1,288",33,"56,513","3,203"
18,Ireland,"19,262",0,"1,087",0,"9,233","8,942",142,"3,901",220,"127,319","25,785"
19,Sweden,"18,640",0,"2,194",0,"1,005","15,441",399,"1,846",217,"94,500","9,357"
20,Saudi Arabia,"17,522",0,139,0,"2,357","15,026",115,503,4,"200,000","5,745"
21,Israel,"15,466",+23,202,+1,"6,796","8,468",129,"1,787",23,"302,691","34,971"
22,Austria,"15,225",0,542,0,"12,282","2,401",145,"1,690",60,"227,631","25,274"
23,Mexico,"14,677",+835,"1,351",+46,"8,354","4,972",378,114,10,"67,635",525
24,Singapore,"14,423",+799,12,0,"1,060","13,351",22,"2,465",2,"121,774","20,815"
25,Japan,"13,441",0,372,0,"1,809","11,260",296,106,3,"149,074","1,179"
26,Chile,"13,331",0,189,0,"7,024","6,118",418,697,10,"155,975","8,159"
27,Pakistan,"13,328",0,281,0,"3,029","10,018",111,60,1,"150,756",682
28,Poland,"11,761",+144,539,+4,"2,466","8,756",160,311,14,"290,633","7,679"
29,Romania,"11,036",0,628,+9,"3,054","7,354",236,574,33,"136,518","7,096"
...,...,...,...,...,...,...,...,...,...,...,...,...
181,New Caledonia,18,0,0,0,17,1,1,63,0,"3,952","13,842"
182,CuraÃ§ao,16,0,1,0,11,4,0,98,6,304,"1,853"
183,Dominica,16,0,0,0,13,3,0,222,0,383,"5,320"
184,Namibia,16,0,0,0,8,8,0,6,0,704,277
185,Saint Kitts and Nevis,15,0,0,0,2,13,0,282,0,260,"4,887"
186,Saint Lucia,15,0,0,0,15,0,0,82,0,446,"2,429"
187,St. Vincent Grenadines,14,0,0,0,5,9,0,126,0,108,973
188,Nicaragua,13,0,3,0,7,3,0,2,0.5,0,0
189,Falkland Islands,13,0,0,0,11,2,0,"3,736",0,353,"101,437"
190,Burundi,11,0,1,0,4,6,0,0.9,0.08,284,24
191,Montserrat,11,0,1,0,2,8,1,"2,204",200,36,"7,212"
192,Turks and Caicos,11,0,1,0,4,6,0,284,26,83,"2,144"
193,Greenland,11,0,0,0,11,0,0,194,0,"1,200","21,138"
194,Seychelles,11,0,0,0,6,5,0,112,0,0,0
195,Gambia,10,0,1,0,8,1,0,4,0.4,401,166
196,Suriname,10,0,1,0,7,2,0,17,2,404,689
197,MS Zaandam,9,0,2,0,0,7,0,0,0,0,0
198,Vatican City,9,0,0,0,2,7,0,"11,236",0,0,0
199,Papua New Guinea,8,0,0,0,0,8,0,0.9,0,604,68
200,Mauritania,7,0,1,0,6,0,0,2,0.2,"1,032",222
201,Bhutan,7,0,0,0,4,3,0,9,0,"9,829","12,738"
202,British Virgin Islands,6,0,1,0,3,2,0,198,33,0,0
203,St. Barth,6,0,0,0,6,0,0,607,0,0,0
204,South Sudan,6,0,0,0,0,6,0,0.5,0,0,0
205,Western Sahara,6,0,0,0,5,1,0,10,0,0,0
206,Caribbean Netherlands,5,0,0,0,0,5,0,191,0,110,"4,195"
207,Sao Tome and Principe,4,0,0,0,0,4,0,18,0,19,87
208,Anguilla,3,0,0,0,1,2,0,200,0,0,0
209,Saint Pierre Miquelon,1,0,0,0,0,1,0,173,0,0,0
210,Yemen,1,0,0,0,1,0,0,0.03,0,120,4

In [233]:
 
# total_cases1=[]
# for i in df["Total_cases"]:
#     s=str(i)
    
#     s1=s.replace(",","")
#     s2=int(s1)
#     total_cases1.append(s2)
    
# #print(total_cases1)

# new_cases1=[]
# for i in df["New_cases"]:
#     s=str(i)
#     s1=s.replace("+","")
#     s2=s1.replace(",","")
#     s3=int(s2)
#     new_cases1.append(s3)
    
# #print(new_cases1)



# total_deaths1=[]
# for i in df["Total_deaths"]:
#     s=str(i)
    
#     s1=s.replace(",","")
#     s2=int(s1)
#     total_deaths1.append(s2)
    
# #print(total_deaths1)

# new_deaths1=[]
# for i in df["New_deaths"]:
#     s=str(i)
#     s1=s.replace("+","")
#     s2=s1.replace(",","")
#     s3=int(s2)
#     new_deaths1.append(s3)
    
# #print(new_deaths1)


# total_recovered1=[]
# for i in df["Total_recovered"]:
#     s=str(i)
    
#     s1=s.replace(",","")
#     s2=int(s1)
#     total_recovered1.append(s2)
    
# #print(total_recovered1)

# active_cases1=[]
# for i in df["Active_cases"]:
#     s=str(i)
    
#     s1=s.replace(",","")
#     s2=int(s1)
#     active_cases1.append(s2)
    
# #print(active_cases1)



# serious_critical1=[]
# for i in df["Serious_critical"]:
#     s=str(i)
    
#     s1=s.replace(",","")
#     s2=int(s1)
#     serious_critical1.append(s2)
    
# #print(serious_critical1)

# total_cases_per_million1=[]
# for i in df["Total_cases_per_million"]:
#     s=str(i)
    
#     s1=s.replace(",","")
#     s2=float(s1)
#     total_cases_per_million1.append(s2)
    
# #print(total_cases_per_million1)


# total_deaths_per_million1=[]


# for i in df["Total_deaths_per_million"]:
#     s=str(i)
    
#     s1=s.replace(",","")
#     s2=float(s1)
#     total_deaths_per_million1.append(s2)
    
# #print(total_deaths_per_million1)

# total_tests1=[]
# for i in df["Total_tests"]:
#     s=str(i)
    
#     s1=s.replace(",","")
#     s2=int(s1)
#     total_tests1.append(s2)
    
# #print(total_tests1)



# total_tests_per_million1=[]
# for i in df["Total_tests_per_million"]:
#     s=str(i)
    
#     s1=s.replace(",","")
#     s2=int(s1)
#     total_tests_per_million1.append(s2)
    
# #print(total_tests_per_million1)

In [234]:
total_cases1=[]
new_cases1=[]
total_deaths1=[]
new_deaths1=[]
total_recovered1=[]
active_cases1=[]
serious_critical1=[]
total_deaths_per_million1=[]
total_cases_per_million1=[]
total_tests1=[]
total_tests_per_million1=[]

In [235]:
def clean():

    for i in df["Total_cases"]:
        s=str(i)
    
        s1=s.replace(",","")
        s2=int(s1)
        total_cases1.append(s2)
    
#print(total_cases1)


    for i in df["New_cases"]:
        s=str(i)
        s1=s.replace("+","")
        s2=s1.replace(",","")
        s3=int(s2)
        new_cases1.append(s3)
    
#print(new_cases1)




    for i in df["Total_deaths"]:
        s=str(i)
    
        s1=s.replace(",","")
        s2=int(s1)
        total_deaths1.append(s2)
    
#print(total_deaths1)


    for i in df["New_deaths"]:
        s=str(i)
        s1=s.replace("+","")
        s2=s1.replace(",","")
        s3=int(s2)
        new_deaths1.append(s3)
    
#print(new_deaths1)



    for i in df["Total_recovered"]:
        s=str(i)
    
        s1=s.replace(",","")
        s2=int(s1)
        total_recovered1.append(s2)
    
#print(total_recovered1)


    for i in df["Active_cases"]:
        s=str(i)
    
        s1=s.replace(",","")
        s2=int(s1)
        active_cases1.append(s2)
    
#print(active_cases1)




    for i in df["Serious_critical"]:
        s=str(i)
    
        s1=s.replace(",","")
        s2=int(s1)
        serious_critical1.append(s2)
    
#print(serious_critical1)


    for i in df["Total_cases_per_million"]:
        s=str(i)
    
        s1=s.replace(",","")
        s2=float(s1)
        total_cases_per_million1.append(s2)
    
#print(total_cases_per_million1)





    for i in df["Total_deaths_per_million"]:
        s=str(i)
    
        s1=s.replace(",","")
        s2=float(s1)
        total_deaths_per_million1.append(s2)
    
#print(total_deaths_per_million1)


    for i in df["Total_tests"]:
        s=str(i)
    
        s1=s.replace(",","")
        s2=int(s1)
        total_tests1.append(s2)
    
#print(total_tests1)




    for i in df["Total_tests_per_million"]:
        s=str(i)
    
        s1=s.replace(",","")
        s2=int(s1)
        total_tests_per_million1.append(s2)
    
#print(total_tests_per_million1)

In [236]:
clean()

In [237]:
df1=pd.DataFrame(list(zip(country,total_cases1,new_cases1,total_deaths1,new_deaths1,
                         total_recovered1,active_cases1,serious_critical1,
                         total_cases_per_million1,total_deaths_per_million1,total_tests1,total_tests_per_million1)), 
                columns= ["Country","Total_cases","New_cases","Total_deaths","New_deaths","Total_recovered","Active_cases","Serious_critical",
                          "Total_cases_per_million","Total_deaths_per_million","Total_tests","Total_tests_per_million"])
df1

,Country,Total_cases,New_cases,Total_deaths,New_deaths,Total_recovered,Active_cases,Serious_critical,Total_cases_per_million,Total_deaths_per_million,Total_tests,Total_tests_per_million
0,USA,987322,162,55415,2,118781,813126,15143,2983.00,167.00,5470555,16527
1,Spain,226629,0,23190,0,117727,85712,7764,4847.00,496.00,1199548,25656
2,Italy,197675,0,26644,0,64928,106103,2009,3269.00,441.00,1757659,29071
3,France,162100,0,22856,0,44903,94341,4682,2483.00,350.00,463662,7103
4,Germany,157770,0,5976,0,114500,37294,2570,1883.00,71.00,2072669,24738
5,UK,152840,0,20732,0,0,131764,1559,2251.00,305.00,669850,9867
6,Turkey,110130,0,2805,0,29140,78185,1776,1306.00,33.00,898742,10656
7,Iran,90481,0,5710,0,69657,15114,3079,1077.00,68.00,421313,5016
8,Russia,87147,6198,794,47,7346,79007,2300,597.00,5.00,3019434,20690
9,Brazil,63100,241,4286,15,30152,28662,8318,297.00,20.00,291922,1373
10,Canada,46895,0,2560,0,17321,27014,557,1243.00,68.00,707508,18746
11,Belgium,46134,0,7094,0,10785,28255,891,3981.00,612.00,189067,16313
12,Netherlands,37845,0,4475,0,0,33120,934,2209.00,261.00,193950,11319
13,Switzerland,29061,0,1610,0,21800,5651,204,3358.00,186.00,245300,28343
14,India,27977,87,884,3,6523,20570,0,20.00,0.60,665819,482
15,Peru,27517,0,728,0,8088,18701,554,835.00,22.00,232747,7059
16,Portugal,23864,0,903,0,1329,21632,182,2340.00,89.00,330512,32414
17,Ecuador,22719,0,576,0,1366,20777,127,1288.00,33.00,56513,3203
18,Ireland,19262,0,1087,0,9233,8942,142,3901.00,220.00,127319,25785
19,Sweden,18640,0,2194,0,1005,15441,399,1846.00,217.00,94500,9357
20,Saudi Arabia,17522,0,139,0,2357,15026,115,503.00,4.00,200000,5745
21,Israel,15466,23,202,1,6796,8468,129,1787.00,23.00,302691,34971
22,Austria,15225,0,542,0,12282,2401,145,1690.00,60.00,227631,25274
23,Mexico,14677,835,1351,46,8354,4972,378,114.00,10.00,67635,525
24,Singapore,14423,799,12,0,1060,13351,22,2465.00,2.00,121774,20815
25,Japan,13441,0,372,0,1809,11260,296,106.00,3.00,149074,1179
26,Chile,13331,0,189,0,7024,6118,418,697.00,10.00,155975,8159
27,Pakistan,13328,0,281,0,3029,10018,111,60.00,1.00,150756,682
28,Poland,11761,144,539,4,2466,8756,160,311.00,14.00,290633,7679
29,Romania,11036,0,628,9,3054,7354,236,574.00,33.00,136518,7096
...,...,...,...,...,...,...,...,...,...,...,...,...
181,New Caledonia,18,0,0,0,17,1,1,63.00,0.00,3952,13842
182,CuraÃ§ao,16,0,1,0,11,4,0,98.00,6.00,304,1853
183,Dominica,16,0,0,0,13,3,0,222.00,0.00,383,5320
184,Namibia,16,0,0,0,8,8,0,6.00,0.00,704,277
185,Saint Kitts and Nevis,15,0,0,0,2,13,0,282.00,0.00,260,4887
186,Saint Lucia,15,0,0,0,15,0,0,82.00,0.00,446,2429
187,St. Vincent Grenadines,14,0,0,0,5,9,0,126.00,0.00,108,973
188,Nicaragua,13,0,3,0,7,3,0,2.00,0.50,0,0
189,Falkland Islands,13,0,0,0,11,2,0,3736.00,0.00,353,101437
190,Burundi,11,0,1,0,4,6,0,0.90,0.08,284,24
191,Montserrat,11,0,1,0,2,8,1,2204.00,200.00,36,7212
192,Turks and Caicos,11,0,1,0,4,6,0,284.00,26.00,83,2144
193,Greenland,11,0,0,0,11,0,0,194.00,0.00,1200,21138
194,Seychelles,11,0,0,0,6,5,0,112.00,0.00,0,0
195,Gambia,10,0,1,0,8,1,0,4.00,0.40,401,166
196,Suriname,10,0,1,0,7,2,0,17.00,2.00,404,689
197,MS Zaandam,9,0,2,0,0,7,0,0.00,0.00,0,0
198,Vatican City,9,0,0,0,2,7,0,11236.00,0.00,0,0
199,Papua New Guinea,8,0,0,0,0,8,0,0.90,0.00,604,68
200,Mauritania,7,0,1,0,6,0,0,2.00,0.20,1032,222
201,Bhutan,7,0,0,0,4,3,0,9.00,0.00,9829,12738
202,British Virgin Islands,6,0,1,0,3,2,0,198.00,33.00,0,0
203,St. Barth,6,0,0,0,6,0,0,607.00,0.00,0,0
204,South Sudan,6,0,0,0,0,6,0,0.50,0.00,0,0
205,Western Sahara,6,0,0,0,5,1,0,10.00,0.00,0,0
206,Caribbean Netherlands,5,0,0,0,0,5,0,191.00,0.00,110,4195
207,Sao Tome and Principe,4,0,0,0,0,4,0,18.00,0.00,19,87
208,Anguilla,3,0,0,0,1,2,0,200.00,0.00,0,0
209,Saint Pierre Miquelon,1,0,0,0,0,1,0,173.00,0.00,0,0
210,Yemen,1,0,0,0,1,0,0,0.03,0.00,120,4